<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css"  crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/static/index.css">
        <title>rpaste</title>
    </head>

    <body>
      <h1><a href="/">rpaste</a></h1>
      <p class="description"><i>{{ paste.description }}</i></p>

      <div class="code-block"><pre><code>{{ paste.content }}</code></pre></div>

      <div class="footer">
        reo
      </div>

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.highlightAll();</script>
</html>
